//Breackpoint
$desktop-l: 1920px;
$desktop: 1600px;
$desktop-sm: 1370px;
$tablet-h: 1024px;
$tablet-v: 768px;
$phone: 648px;

//General
$black: #000;
$white: #fff;
$dark: #04142d;
$dark-2: #363d60;
$blue: #004bf9;
$dark-blue: #061d8b;
$light-blue: #93d5fe;
$light-blue-2: #ddeefa;
$border: #e0dad4;
$brown-light: #ece6e1;
$brown-dark: #5c391a;
$brown-dark-2: #5c391a;
