.iti {
  position: relative;
  display: inline-block;
  * {
    box-sizing: border-box;
  }
  input.iti__tel-input,
  input.iti__tel-input[type="text"],
  input.iti__tel-input[type="tel"] {
    position: relative;
    z-index: 0;
    margin: 0 !important;
    padding-left: 9rem !important;
  }
  .iti__selected-dial-code {
    margin-left: 4px;
    font-size: 1.6rem;

    @media only screen and (max-width: 768px) {
      font-size: 1.6rem;
    }
  }
}
.iti__a11y-text {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  position: absolute;
}
.iti__country-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  button {
    cursor: pointer;
    padding: 0 1rem 0 0;
    gap: 0;
  }
}
.iti__selected-country {
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border-radius: 0;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: none;
}
.iti__selected-country-primary {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 6px 0 8px;
}
.iti__arrow {
  margin-left: 6px;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 4px solid #555;
}
.iti__arrow--up {
  border-top: none;
  border-bottom: 4px solid #555;
}
.iti__dropdown-content {
  border-radius: 3px;
  background-color: white;
}
.iti--inline-dropdown {
  .iti__dropdown-content {
    border: 1px solid #ccc;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  }
  .iti__country-list {
    max-height: 185px;
  }
}
.iti--inline-dropdown:not(.iti--container) {
  .iti__dropdown-content {
    position: absolute;
    z-index: 2;
    left: 0;
  }
}
.iti__search-input {
  width: 100%;
  border-width: 0;
  border-radius: 3px;
  padding-left: 30px;
  padding-right: 28px;
}
[dir="rtl"] {
  .iti__search-input {
    padding-left: inherit;
    padding-right: 30px;
    background-position: right 8px center;
  }
  .iti__search-icon {
    left: auto;
    right: 8px;
  }
  .iti__search-clear {
    right: auto;
    left: 4px;
  }
  .iti__country-list {
    .iti__flag {
      margin-right: 0;
      margin-left: 8px;
    }
  }
}
.iti__search-input::-webkit-search-cancel-button {
  appearance: none;
}
.iti__search-input,
.iti__country {
  padding-top: 8px;
  padding-bottom: 8px;
}
.iti__search-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;

  input {
    padding: 0 3rem !important;
    border: none !important;
  }
}
.iti__search-icon {
  position: absolute;
  left: 8px;
  display: flex;
  pointer-events: none;
}
.iti__search-icon-svg {
  width: 16px;
  height: 16px;
  display: block;
  stroke: #555;
  fill: none;
  stroke-width: 3;
}
.iti__search-clear {
  position: absolute;
  right: 4px;
  background: transparent;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.15s ease;
  .iti__search-clear-x {
    stroke-width: 2;
  }
  .iti__search-clear-bg {
    fill: #555;
  }
}
.iti__search-clear-svg {
  width: 13px;
  height: 13px;
  display: block;
}
.iti__search-clear:hover,
.iti__search-clear:focus-visible {
  background: rgba(0, 0, 0, 0.05);
  outline: none;
}
.iti__no-results {
  text-align: center;
  padding: 30px 0;
}
.iti__country-list {
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  .iti__flag {
    margin-right: 8px;
    flex-shrink: 0;
  }
}
.iti--flexible-dropdown-width {
  .iti__country-list {
    white-space: nowrap;
  }
}
@media (max-width: 500px) {
  .iti--flexible-dropdown-width {
    .iti__country-list {
      white-space: normal;
    }
  }
}
.iti__country {
  display: flex;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  outline: none;
}
.iti__country-name {
  flex-grow: 1;
  font-size: 1.6rem;
}
.iti__country-check {
  margin: 0 1px 0 8px;
  display: flex;
  align-items: center;
  color: #555;
}
.iti__country-check-svg {
  width: 13px;
  height: 13px;
  display: block;
}
.iti__country.iti__highlight {
  background-color: rgba(0, 0, 0, 0.05);
}
.iti--allow-dropdown {
  .iti__country-container:has(+ input[disabled]),
  .iti__country-container:has(+ input[readonly]) {
    button.iti__selected-country {
      cursor: not-allowed;
      .iti__arrow {
        visibility: hidden;
      }
    }
  }
  .iti__country-container:not(:has(+ input[disabled])):not(
      :has(+ input[readonly])
    ) {
    .iti__selected-country-primary:hover,
    .iti__selected-country:has(+ .iti__dropdown-content:hover) {
      //   background-color: rgba(0, 0, 0, 0.05);
    }
  }
}
.iti--container {
  position: fixed;
  top: -1000px;
  left: -1000px;
  z-index: 1060;
}
.iti--container:hover {
  cursor: pointer;
}
.iti__hide {
  display: none;
}
.iti__v-hide {
  visibility: hidden;
}
.iti--fullscreen-popup.iti--container {
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.iti--fullscreen-popup {
  .iti__dropdown-content {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    position: relative;
  }
  .iti__country,
  .iti__search-input {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .iti__country {
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.5em;
  }
}
.iti__flag {
  height: 12px;
  width: 16px;
  border-radius: 1px;
  box-shadow: 0px 0px 1px 0px #888;
  background-image: image-set(
    url("../intl/flags.webp") 1x,
    url("../intl/flags@2x.webp") 2x
  );
  background-repeat: no-repeat;
  background-position: 100px 0;
  background-size: 3904px 12px;
}
.iti__loading {
  position: relative;
  background: none;
  box-shadow: none;
}
.iti__loading::after {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
  border: 2px solid #555;
  border-right-color: transparent;
  border-radius: 50%;
  animation: iti-spinner 1s linear infinite;
}
.iti__ac {
  background-position: 0px 0;
}
.iti__ad {
  background-position: -16px 0;
}
.iti__ae {
  background-position: -32px 0;
}
.iti__af {
  background-position: -48px 0;
}
.iti__ag {
  background-position: -64px 0;
}
.iti__ai {
  background-position: -80px 0;
}
.iti__al {
  background-position: -96px 0;
}
.iti__am {
  background-position: -112px 0;
}
.iti__ao {
  background-position: -128px 0;
}
.iti__ar {
  background-position: -144px 0;
}
.iti__as {
  background-position: -160px 0;
}
.iti__at {
  background-position: -176px 0;
}
.iti__au {
  background-position: -192px 0;
}
.iti__aw {
  background-position: -208px 0;
}
.iti__ax {
  background-position: -224px 0;
}
.iti__az {
  background-position: -240px 0;
}
.iti__ba {
  background-position: -256px 0;
}
.iti__bb {
  background-position: -272px 0;
}
.iti__bd {
  background-position: -288px 0;
}
.iti__be {
  background-position: -304px 0;
}
.iti__bf {
  background-position: -320px 0;
}
.iti__bg {
  background-position: -336px 0;
}
.iti__bh {
  background-position: -352px 0;
}
.iti__bi {
  background-position: -368px 0;
}
.iti__bj {
  background-position: -384px 0;
}
.iti__bl {
  background-position: -400px 0;
}
.iti__bm {
  background-position: -416px 0;
}
.iti__bn {
  background-position: -432px 0;
}
.iti__bo {
  background-position: -448px 0;
}
.iti__bq {
  background-position: -464px 0;
}
.iti__br {
  background-position: -480px 0;
}
.iti__bs {
  background-position: -496px 0;
}
.iti__bt {
  background-position: -512px 0;
}
.iti__bw {
  background-position: -528px 0;
}
.iti__by {
  background-position: -544px 0;
}
.iti__bz {
  background-position: -560px 0;
}
.iti__ca {
  background-position: -576px 0;
}
.iti__cc {
  background-position: -592px 0;
}
.iti__cd {
  background-position: -608px 0;
}
.iti__cf {
  background-position: -624px 0;
}
.iti__cg {
  background-position: -640px 0;
}
.iti__ch {
  background-position: -656px 0;
}
.iti__ci {
  background-position: -672px 0;
}
.iti__ck {
  background-position: -688px 0;
}
.iti__cl {
  background-position: -704px 0;
}
.iti__cm {
  background-position: -720px 0;
}
.iti__cn {
  background-position: -736px 0;
}
.iti__co {
  background-position: -752px 0;
}
.iti__cr {
  background-position: -768px 0;
}
.iti__cu {
  background-position: -784px 0;
}
.iti__cv {
  background-position: -800px 0;
}
.iti__cw {
  background-position: -816px 0;
}
.iti__cx {
  background-position: -832px 0;
}
.iti__cy {
  background-position: -848px 0;
}
.iti__cz {
  background-position: -864px 0;
}
.iti__de {
  background-position: -880px 0;
}
.iti__dj {
  background-position: -896px 0;
}
.iti__dk {
  background-position: -912px 0;
}
.iti__dm {
  background-position: -928px 0;
}
.iti__do {
  background-position: -944px 0;
}
.iti__dz {
  background-position: -960px 0;
}
.iti__ec {
  background-position: -976px 0;
}
.iti__ee {
  background-position: -992px 0;
}
.iti__eg {
  background-position: -1008px 0;
}
.iti__eh {
  background-position: -1024px 0;
}
.iti__er {
  background-position: -1040px 0;
}
.iti__es {
  background-position: -1056px 0;
}
.iti__et {
  background-position: -1072px 0;
}
.iti__fi {
  background-position: -1088px 0;
}
.iti__fj {
  background-position: -1104px 0;
}
.iti__fk {
  background-position: -1120px 0;
}
.iti__fm {
  background-position: -1136px 0;
}
.iti__fo {
  background-position: -1152px 0;
}
.iti__fr {
  background-position: -1168px 0;
}
.iti__ga {
  background-position: -1184px 0;
}
.iti__gb {
  background-position: -1200px 0;
}
.iti__gd {
  background-position: -1216px 0;
}
.iti__ge {
  background-position: -1232px 0;
}
.iti__gf {
  background-position: -1248px 0;
}
.iti__gg {
  background-position: -1264px 0;
}
.iti__gh {
  background-position: -1280px 0;
}
.iti__gi {
  background-position: -1296px 0;
}
.iti__gl {
  background-position: -1312px 0;
}
.iti__gm {
  background-position: -1328px 0;
}
.iti__gn {
  background-position: -1344px 0;
}
.iti__gp {
  background-position: -1360px 0;
}
.iti__gq {
  background-position: -1376px 0;
}
.iti__gr {
  background-position: -1392px 0;
}
.iti__gt {
  background-position: -1408px 0;
}
.iti__gu {
  background-position: -1424px 0;
}
.iti__gw {
  background-position: -1440px 0;
}
.iti__gy {
  background-position: -1456px 0;
}
.iti__hk {
  background-position: -1472px 0;
}
.iti__hn {
  background-position: -1488px 0;
}
.iti__hr {
  background-position: -1504px 0;
}
.iti__ht {
  background-position: -1520px 0;
}
.iti__hu {
  background-position: -1536px 0;
}
.iti__id {
  background-position: -1552px 0;
}
.iti__ie {
  background-position: -1568px 0;
}
.iti__il {
  background-position: -1584px 0;
}
.iti__im {
  background-position: -1600px 0;
}
.iti__in {
  background-position: -1616px 0;
}
.iti__io {
  background-position: -1632px 0;
}
.iti__iq {
  background-position: -1648px 0;
}
.iti__ir {
  background-position: -1664px 0;
}
.iti__is {
  background-position: -1680px 0;
}
.iti__it {
  background-position: -1696px 0;
}
.iti__je {
  background-position: -1712px 0;
}
.iti__jm {
  background-position: -1728px 0;
}
.iti__jo {
  background-position: -1744px 0;
}
.iti__jp {
  background-position: -1760px 0;
}
.iti__ke {
  background-position: -1776px 0;
}
.iti__kg {
  background-position: -1792px 0;
}
.iti__kh {
  background-position: -1808px 0;
}
.iti__ki {
  background-position: -1824px 0;
}
.iti__km {
  background-position: -1840px 0;
}
.iti__kn {
  background-position: -1856px 0;
}
.iti__kp {
  background-position: -1872px 0;
}
.iti__kr {
  background-position: -1888px 0;
}
.iti__kw {
  background-position: -1904px 0;
}
.iti__ky {
  background-position: -1920px 0;
}
.iti__kz {
  background-position: -1936px 0;
}
.iti__la {
  background-position: -1952px 0;
}
.iti__lb {
  background-position: -1968px 0;
}
.iti__lc {
  background-position: -1984px 0;
}
.iti__li {
  background-position: -2000px 0;
}
.iti__lk {
  background-position: -2016px 0;
}
.iti__lr {
  background-position: -2032px 0;
}
.iti__ls {
  background-position: -2048px 0;
}
.iti__lt {
  background-position: -2064px 0;
}
.iti__lu {
  background-position: -2080px 0;
}
.iti__lv {
  background-position: -2096px 0;
}
.iti__ly {
  background-position: -2112px 0;
}
.iti__ma {
  background-position: -2128px 0;
}
.iti__mc {
  background-position: -2144px 0;
}
.iti__md {
  background-position: -2160px 0;
}
.iti__me {
  background-position: -2176px 0;
}
.iti__mf {
  background-position: -2192px 0;
}
.iti__mg {
  background-position: -2208px 0;
}
.iti__mh {
  background-position: -2224px 0;
}
.iti__mk {
  background-position: -2240px 0;
}
.iti__ml {
  background-position: -2256px 0;
}
.iti__mm {
  background-position: -2272px 0;
}
.iti__mn {
  background-position: -2288px 0;
}
.iti__mo {
  background-position: -2304px 0;
}
.iti__mp {
  background-position: -2320px 0;
}
.iti__mq {
  background-position: -2336px 0;
}
.iti__mr {
  background-position: -2352px 0;
}
.iti__ms {
  background-position: -2368px 0;
}
.iti__mt {
  background-position: -2384px 0;
}
.iti__mu {
  background-position: -2400px 0;
}
.iti__mv {
  background-position: -2416px 0;
}
.iti__mw {
  background-position: -2432px 0;
}
.iti__mx {
  background-position: -2448px 0;
}
.iti__my {
  background-position: -2464px 0;
}
.iti__mz {
  background-position: -2480px 0;
}
.iti__na {
  background-position: -2496px 0;
}
.iti__nc {
  background-position: -2512px 0;
}
.iti__ne {
  background-position: -2528px 0;
}
.iti__nf {
  background-position: -2544px 0;
}
.iti__ng {
  background-position: -2560px 0;
}
.iti__ni {
  background-position: -2576px 0;
}
.iti__nl {
  background-position: -2592px 0;
}
.iti__no {
  background-position: -2608px 0;
}
.iti__np {
  background-position: -2624px 0;
}
.iti__nr {
  background-position: -2640px 0;
}
.iti__nu {
  background-position: -2656px 0;
}
.iti__nz {
  background-position: -2672px 0;
}
.iti__om {
  background-position: -2688px 0;
}
.iti__pa {
  background-position: -2704px 0;
}
.iti__pe {
  background-position: -2720px 0;
}
.iti__pf {
  background-position: -2736px 0;
}
.iti__pg {
  background-position: -2752px 0;
}
.iti__ph {
  background-position: -2768px 0;
}
.iti__pk {
  background-position: -2784px 0;
}
.iti__pl {
  background-position: -2800px 0;
}
.iti__pm {
  background-position: -2816px 0;
}
.iti__pr {
  background-position: -2832px 0;
}
.iti__ps {
  background-position: -2848px 0;
}
.iti__pt {
  background-position: -2864px 0;
}
.iti__pw {
  background-position: -2880px 0;
}
.iti__py {
  background-position: -2896px 0;
}
.iti__qa {
  background-position: -2912px 0;
}
.iti__re {
  background-position: -2928px 0;
}
.iti__ro {
  background-position: -2944px 0;
}
.iti__rs {
  background-position: -2960px 0;
}
.iti__ru {
  background-position: -2976px 0;
}
.iti__rw {
  background-position: -2992px 0;
}
.iti__sa {
  background-position: -3008px 0;
}
.iti__sb {
  background-position: -3024px 0;
}
.iti__sc {
  background-position: -3040px 0;
}
.iti__sd {
  background-position: -3056px 0;
}
.iti__se {
  background-position: -3072px 0;
}
.iti__sg {
  background-position: -3088px 0;
}
.iti__sh {
  background-position: -3104px 0;
}
.iti__si {
  background-position: -3120px 0;
}
.iti__sj {
  background-position: -3136px 0;
}
.iti__sk {
  background-position: -3152px 0;
}
.iti__sl {
  background-position: -3168px 0;
}
.iti__sm {
  background-position: -3184px 0;
}
.iti__sn {
  background-position: -3200px 0;
}
.iti__so {
  background-position: -3216px 0;
}
.iti__sr {
  background-position: -3232px 0;
}
.iti__ss {
  background-position: -3248px 0;
}
.iti__st {
  background-position: -3264px 0;
}
.iti__sv {
  background-position: -3280px 0;
}
.iti__sx {
  background-position: -3296px 0;
}
.iti__sy {
  background-position: -3312px 0;
}
.iti__sz {
  background-position: -3328px 0;
}
.iti__tc {
  background-position: -3344px 0;
}
.iti__td {
  background-position: -3360px 0;
}
.iti__tg {
  background-position: -3376px 0;
}
.iti__th {
  background-position: -3392px 0;
}
.iti__tj {
  background-position: -3408px 0;
}
.iti__tk {
  background-position: -3424px 0;
}
.iti__tl {
  background-position: -3440px 0;
}
.iti__tm {
  background-position: -3456px 0;
}
.iti__tn {
  background-position: -3472px 0;
}
.iti__to {
  background-position: -3488px 0;
}
.iti__tr {
  background-position: -3504px 0;
}
.iti__tt {
  background-position: -3520px 0;
}
.iti__tv {
  background-position: -3536px 0;
}
.iti__tw {
  background-position: -3552px 0;
}
.iti__tz {
  background-position: -3568px 0;
}
.iti__ua {
  background-position: -3584px 0;
}
.iti__ug {
  background-position: -3600px 0;
}
.iti__us {
  background-position: -3616px 0;
}
.iti__uy {
  background-position: -3632px 0;
}
.iti__uz {
  background-position: -3648px 0;
}
.iti__va {
  background-position: -3664px 0;
}
.iti__vc {
  background-position: -3680px 0;
}
.iti__ve {
  background-position: -3696px 0;
}
.iti__vg {
  background-position: -3712px 0;
}
.iti__vi {
  background-position: -3728px 0;
}
.iti__vn {
  background-position: -3744px 0;
}
.iti__vu {
  background-position: -3760px 0;
}
.iti__wf {
  background-position: -3776px 0;
}
.iti__ws {
  background-position: -3792px 0;
}
.iti__xk {
  background-position: -3808px 0;
}
.iti__ye {
  background-position: -3824px 0;
}
.iti__yt {
  background-position: -3840px 0;
}
.iti__za {
  background-position: -3856px 0;
}
.iti__zm {
  background-position: -3872px 0;
}
.iti__zw {
  background-position: -3888px 0;
}
.iti__globe {
  background: none;
  box-shadow: none;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  .iti__globe-svg {
    width: 100%;
    height: 100%;
    fill: #555;
  }
}
