@use "../base/base";

button,
.button {
  width: max-content;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 6rem;
  font-family: $font-family;
  font-size: 1.8rem;
  font-weight: $font-medium;
  white-space: nowrap;
  color: $blue;
  background: transparent;
  cursor: pointer;
  transition:
    background 0.3s ease,
    color 0.3s ease;
  padding: 0 2rem;

  @media only screen and (max-width: $tablet-h) {
    height: 5.6rem;
    padding: 0 2rem;
  }

  &.primary {
    background: $blue-2;
    color: $white;

    svg {
      stroke: $white;
    }

    &:hover {
      background: $dark;
      color: $white;
    }
  }

  &.primary.light {
    background: $blue-2;
    color: $white;

    svg {
      stroke: $white;
    }

    &:hover {
      background: $blue;
      color: $white;
    }
  }

  &.dark {
    background: $dark;
    color: $white;

    svg {
      stroke: $white;
    }

    &:hover {
      background: $dark-blue;
      color: $white;
    }
  }

  &.brown {
    background: $brown;
    color: $white;

    svg {
      stroke: $white;
    }

    &:hover {
      background: #594e3b;
      color: $white;
    }
  }

  &.light {
    background: $white;
    color: $blue;

    &.type-2 {
      color: $brown;

      svg {
        stroke: $brown;
      }

      &:hover {
        background: $brown;
        color: $white;

        svg {
          stroke: $white;
        }
      }
    }

    svg {
      stroke: $blue;
    }

    &:hover {
      background: $blue;
      color: $white;

      svg {
        stroke: $white;
      }
    }
  }

  &.border {
    color: $blue;
    border: solid $blue 0.1rem;

    svg {
      stroke: $blue;
    }

    &:hover {
      background: $blue;
      color: $white;

      svg {
        stroke: $white;
      }
    }
  }

  &.small {
    height: 5rem;
  }

  svg {
    width: 1.6rem;
    stroke-width: 0.3rem;
    transition: stroke 0.3s ease;
  }
}

.pagination {
  display: flex;
  max-width: 56rem;
  margin: auto;
  padding-top: 4rem;

  @media only screen and (max-width: $tablet-v) {
    width: 100%;
    justify-content: space-between;
    margin-top: 4rem;
  }

  ul {
    display: flex;
    align-items: center;
    margin: auto;

    @media only screen and (max-width: $tablet-h) {
      display: none;
    }

    li {
      &.active {
        background: $blue;

        a {
          color: $white;
          font-weight: $font-medium;
        }
      }

      a {
        width: 5rem;
        height: 5rem;
        font-size: 1.8rem;
        color: $dark;
        display: flex;
        justify-content: center;
        align-items: center;

        @media only screen and (max-width: $tablet-v) {
          width: 4rem;
          height: 4rem;
          font-size: 1.8rem;
        }
      }
    }
  }
}

.content-breadcrumb {
  height: 8rem;
  display: flex;
  align-items: center;
  border-bottom: solid rgba($black, 0.1) 0.1rem;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }

  svg {
    width: 0.8rem;
    flex-shrink: 0;
    margin: 0 1rem;
  }

  li {
    font-size: 1.6rem;
    font-weight: $font-regular;
    color: rgba($black, 0.5);
    display: flex;
    align-items: center;
    flex-shrink: 0;
    white-space: nowrap;

    @media only screen and (max-width: $tablet-h) {
      font-size: 1.4rem;
    }

    a {
      display: flex;
      align-items: center;
      color: $blue;
    }
  }
}
