@use "../base/base";

.swiper {
  @media only screen and (max-width: $tablet-h) {
    width: calc(100% + 2rem);
  }
}

.slider-control {
  display: flex;
  align-items: center;
  gap: 4rem;

  @media only screen and (max-width: $desktop-l) {
    padding-right: 4rem;
  }

  @media only screen and (max-width: $tablet-h) {
    display: none;
  }

  .swiper-pagination {
    position: relative;
    height: 0.2rem;
    background: rgba(0, 0, 0, 0.2);

    span {
      background: $blue;
    }
  }

  .buttons {
    position: relative;
    overflow: hidden;
    display: flex;
    gap: 2rem;
    flex-shrink: 0;

    .swiper-button-next,
    .swiper-button-prev {
      width: 6rem;
      height: 6rem;
    }

    i {
      border: solid rgba($dark-blue, 0.2) 0.1rem;
      height: 6rem;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        width: 2.6rem;
        stroke: $blue;
        stroke-width: 0.2rem;

        @media only screen and (max-width: $desktop-l) {
        }
      }
    }
  }
}

.slider {
  .slider-tab-menu {
    ul {
      width: min-content;
      display: flex;
      position: relative;

      @media only screen and (max-width: $tablet-h) {
        width: 100%;
        margin-top: 2rem;
      }

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.2rem;
        background: #e2e3e9;
      }

      li {
        position: relative;
        cursor: pointer;
        @include fade-transition;

        @media only screen and (max-width: $tablet-h) {
          flex: 1;
        }

        &.active-menu {
          @include fade-transition;

          a {
            color: $blue;

            &:after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 0.2rem;
              background: $blue;
              z-index: 1;
            }
          }
        }

        a {
          font-size: 1.8rem;
          white-space: nowrap;
          color: $dark-blue;
          height: 5rem;
          padding: 0 4rem;
          display: flex;
          justify-content: center;
          flex-direction: column;
          position: relative;
          text-align: center;

          @media only screen and (max-width: $tablet-h) {
            font-size: 2rem;
            padding: 0 2rem;
            font-size: 1.8rem;
            text-wrap: unset;
          }
        }
      }
    }
  }
}

.what-are-we-slider {
  margin-top: 4rem;
  display: none;

  @media only screen and (max-width: $tablet-h) {
    margin: 4rem 0 6rem;
  }

  &.active {
    display: block;
  }

  .swiper-slide {
    min-height: 40rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem 3rem 0;
    position: relative;
    overflow: hidden;

    &:hover {
      .bottom {
        svg {
          opacity: 1;
          @include fade-transition;
        }
      }
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-size: 20vw;
    }

    .bg {
      position: absolute;
      inset: 0;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .caption {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 3rem;
      position: relative;

      span {
        max-width: 26rem;
        font-size: 2.4rem;
        color: $white;
        position: relative;
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        display: block;

        &:after {
          content: "";
          width: 5rem;
          height: 0.2rem;
          display: block;
          background: $white;
          position: relative;
          margin-top: 2rem;
        }
      }

      ul {
        display: flex;
        flex-direction: column;

        li {
          padding: 1rem 0;
          display: flex;
          border-bottom: solid rgba($white, 0.1) 0.1rem;

          a {
            width: 100%;
            font-size: 1.6rem;
            color: $white;
            font-weight: $font-regular;
            display: flex;
            justify-content: space-between;
            @include fade-transition;

            &:hover {
              @include fade-transition;
              opacity: 0.5;
            }

            svg {
              width: 2rem;
            }
          }
        }
      }
    }

    figure {
      display: flex;
      align-items: flex-end;
      margin-top: 4rem;

      img {
        height: 20rem;
        margin-left: auto;
      }
    }
  }

  .slider-control {
    margin-top: 4rem;
  }
}

.research-slider {
  margin-top: 4rem;

  .swiper-slide {
    display: flex;
    flex-direction: column;

    &:hover {
      .slide-caption {
        .info {
          @include fade-transition;

          span {
            color: $blue;
            @include fade-transition;
          }

          i {
            svg {
              opacity: 1;
              margin-right: 0;
              @include fade-transition;
            }
          }
        }
      }
    }

    .slide-caption {
      display: flex;
      flex-direction: column;
      font-size: 2rem;
      padding-top: 1rem;

      small {
        font-size: 1.4rem;
        color: $dark-blue;
      }

      .date {
        font-size: 1.3rem;
        color: $dark;
        font-weight: normal;
        opacity: 0.5;
        margin-bottom: 1rem;
      }

      .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
        @include fade-transition;

        span {
          font-size: 2rem;
          color: $dark;
          font-weight: $font-medium;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          transition: 0.4s;
          overflow: hidden;
          @include fade-transition;

          @media only screen and (max-width: $tablet-h) {
            font-size: 2rem;
          }
        }

        i {
          width: 3rem;
          flex-shrink: 0;
          margin-left: 2rem;
          svg {
            opacity: 0;
            margin-right: 2rem;
            @include fade-transition;
          }
        }
      }
    }
  }

  .slider-control {
    margin-top: 4rem;
  }
}

.news-slider {
  margin-top: 4rem;

  .item {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    @include fade-transition;

    @media only screen and (max-width: $desktop) {
      padding: 1.6rem;
    }

    @media only screen and (max-width: $tablet-h) {
      gap: 1rem;
    }

    &:hover {
      @include fade-transition;

      .caption {
        h4 {
          color: $blue;
          @include fade-transition;
        }

        .info {
          i {
            opacity: 1;
          }
        }
      }
    }

    figure {
      position: relative;
      overflow: hidden;

      img {
        aspect-ratio: 3/2;
        object-fit: cover;
      }

      i {
        position: absolute;
        inset: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        background: rgba($black, 0.2);

        svg {
          width: 4rem;
          fill: $white;
        }
      }
    }

    .caption {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;

      @media only screen and (max-width: $tablet-h) {
        gap: 1rem;
      }

      small {
        width: max-content;
        height: 4rem;
        padding: 0 1.4rem;
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        color: $white;
        font-weight: $font-regular;
        background: $blue;

        @media only screen and (max-width: $tablet-v) {
          height: 3rem;
          font-size: 1.2rem;
        }
      }

      h4 {
        font-size: 2rem;
        color: $dark;
        font-weight: $font-medium;
        @include fade-transition;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

        @media only screen and (max-width: $desktop) {
          font-size: 1.8rem;
        }

        @media only screen and (max-width: $tablet-h) {
          letter-spacing: 0;
        }

        @media only screen and (max-width: $tablet-v) {
          font-size: 1.6rem;
        }
      }

      p {
        font-size: 1.6rem;
        line-height: 1.6;
        font-weight: $font-regular;
        color: $dark;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

        @media only screen and (max-width: $tablet-v) {
          font-size: 1.4rem;
        }
      }

      .date {
        font-size: 1.3rem;
        color: $dark-blue;
        font-weight: $font-regular;
        opacity: 0.6;

        @media only screen and (max-width: $tablet-v) {
          font-size: 1.2rem;
        }
      }

      .info {
        display: flex;
        gap: 2rem;

        i {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          opacity: 0;
          @include fade-transition;

          svg {
            width: 2rem;

            @media only screen and (max-width: $desktop) {
              width: 1.6rem;
            }
          }
        }
      }
    }
  }

  .slider-control {
    margin-top: 4rem;
  }
}

.videos-slider {
  margin-top: 4rem;

  @media only screen and (max-width: $tablet-h) {
    margin-top: 4rem;
  }

  .content-item-cards {
    gap: 0;
  }

  .swiper-slide {
    height: auto;
    display: flex;
    flex-direction: column;

    &:hover {
      .slide-caption {
        span {
          color: $blue;
          @include fade-transition;
        }
      }
    }

    figure {
      position: relative;
      overflow: hidden;

      i {
        position: absolute;
        inset: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
        @include fade-transition;

        svg {
          width: 3rem;
        }
      }
    }

    .slide-caption {
      display: flex;
      flex-direction: column;
      font-size: 2rem;
      padding-top: 2rem;
      gap: 2rem;

      span {
        font-size: 2rem;
        color: $dark;
        font-weight: $font-medium;
        color: $dark;
        @include fade-transition;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .date {
        font-size: 1.4rem;
        color: $dark;
        opacity: 0.5;
      }
    }
  }

  .slider-control {
    margin-top: 4rem;
  }
}

.highlights-slider {
  background: $dark;

  .headline {
    h4 {
      color: $light-blue-2;

      &:after {
        background: $light-blue-2;
      }
    }
  }

  .swiper {
    .item {
      height: auto;
      box-shadow: inset 0 0 0 0.1rem $light-blue;
      padding: 4rem 4rem 4rem;
      margin: 2rem 0 4rem;
      @include fade-transition;

      @media only screen and (max-width: $tablet-h) {
        padding: 2rem;
        margin: 2rem 0 0;
      }

      &:hover {
        @include fade-transition;
        box-shadow: inset 0 0 0 0.5rem $light-blue;

        .caption {
          .arrow {
            @include fade-transition;
            opacity: 1;
          }
        }
      }

      .caption {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 2rem;

        i {
          svg {
            @media only screen and (max-width: $tablet-h) {
              width: 6rem;
            }
          }
        }

        .arrow {
          margin-top: auto;
          margin-left: auto;
          @include fade-transition;
          opacity: 0.3;
        }

        h4 {
          font-size: 1.6rem;
          font-weight: $font-regular;
          color: $light-blue;

          @media only screen and (max-width: $tablet-h) {
            font-size: 1.6rem;
          }
        }

        p {
          font-size: 1.8rem;
          line-height: 1.4;
          color: $white;
          margin-bottom: 2rem;

          @media only screen and (max-width: $tablet-h) {
            font-size: 1.8rem;
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .slider-control {
    .swiper-pagination {
      background: rgba($white, 0.1);
    }
    .swiper-pagination-progressbar-fill {
      background: $white;
    }

    .buttons {
      .swiper-button-prev,
      .swiper-button-next {
        border: solid rgba($white, 0.2) 0.1rem;
      }

      i {
        svg {
          stroke: $white;
        }
      }
    }
  }
}

.text-slider {
  .swiper-slide {
    display: flex;
    flex-direction: column;
    border: solid rgba($dark, 0.1) 0.1rem;
    padding: 3.2rem;
    height: auto;
    margin-bottom: 6rem;

    .large {
      svg {
        width: 8rem;
      }
    }

    p {
      font-size: 1.6rem;
      color: $dark;
      font-weight: $font-regular;
      line-height: 1.2;
      padding: 2rem 0;
    }

    .small {
      margin-left: auto;
      margin-top: auto;
      svg {
        width: 4rem;
      }
    }
  }
}

.reference-slider {
  margin-top: 8rem;

  @media only screen and (max-width: $tablet-h) {
    margin-top: 0;
  }

  .swiper {
    .swiper-slide {
      height: auto;
      background: $white;
      padding: 4rem 1rem 1rem;
      margin-bottom: 6rem;

      @media only screen and (max-width: $tablet-h) {
        margin-bottom: 0;
      }

      img {
        height: 30rem;
        object-fit: contain;

        @media only screen and (max-width: $tablet-h) {
          height: 18rem;
        }
      }

      span {
        max-width: 30rem;
        font-size: 2rem;
        color: $blue;
        text-align: center;
        display: block;
        padding: 2rem 0;
        height: 8rem;
        margin: auto;

        @media only screen and (max-width: $tablet-h) {
          font-size: 1.6rem;
        }
      }

      .slide-bottom {
        display: flex;

        .year {
          background: rgba($blue, 0.1);
          padding: 2rem;
          font-size: 1.4rem;
          color: $dark-blue;
        }

        .value {
          width: 100%;
          background: $blue;
          display: flex;
          justify-content: center;
          align-items: center;
          @include trim-both;

          .text {
            color: $light-blue-2;
            font-size: 2.4rem;
          }

          .price {
            display: flex;
            align-items: flex-start;
            gap: 0.5rem;
            color: $light-blue-2;

            .number {
              font-size: 3rem;
              @include trim-both;
            }

            small {
              font-size: 1.4rem;
              @include trim-both;
            }
          }
        }
      }
    }
  }
}

.gallery-slider {
  margin-top: 4rem;

  .swiper-slide {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    &:hover {
      .slide-caption {
        .info {
          @include fade-transition;

          span {
            color: $blue;
            @include fade-transition;
          }

          i {
            svg {
              opacity: 1;
              margin-right: 0;
              @include fade-transition;
            }
          }
        }
      }
    }

    .slide-caption {
      display: flex;
      flex-direction: column;
      font-size: 2rem;
      padding-top: 1rem;

      small {
        font-size: 1.2rem;
        color: $dark-blue;
      }

      .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
        @include fade-transition;

        span {
          max-width: 20rem;
          font-size: 2rem;
          color: $dark;
          font-weight: $font-medium;
          @include fade-transition;

          @media only screen and (max-width: $tablet-h) {
            font-size: 2rem;
          }
        }

        i {
          svg {
            opacity: 0;
            margin-right: 2rem;
            @include fade-transition;
          }
        }
      }
    }
  }

  .slider-control {
    margin-top: 4rem;
  }
}
